<div class="Formulario">
    <h2>Editar usuario</h2>
  
    <form [formGroup]="editForm" (ngSubmit)="guardar()">
      <div class="form-group">
        <div class="errors">
          <mat-form-field class="ancho" appearance="fill">
            <mat-label>Nombre</mat-label>
            <input matInput formControlName="nombre" class="form-control" required>
            <mat-error
              *ngIf="editForm.get('nombre').invalid && (editForm.get('nombre').touched || editForm.get('nombre').dirty)">
              Ingrese el nombre</mat-error>
          </mat-form-field>
        </div>
      </div>
  
      <div class="form-group">
        <div class="errors">
          <mat-form-field class="ancho" appearance="fill">
            <mat-label>Apellido</mat-label>
            <input matInput formControlName="apellido" class="form-control" required>
            <mat-error
              *ngIf="editForm.get('apellido').invalid && (editForm.get('apellido').touched || editForm.get('apellido').dirty)">
              Ingrese el apellido</mat-error>
          </mat-form-field>
        </div>
        <div class="form-group">
          <div class="errors">
            <mat-form-field class="ancho" appearance="fill">
              <mat-label>Cedula</mat-label>
              <input matInput formControlName="id" class="form-control" required>
              <mat-error
                *ngIf="editForm.get('id').invalid && (editForm.get('id').touched || editForm.get('id').dirty)">
                Ingrese su cedula</mat-error>
            </mat-form-field>
          </div>
        </div>
  
        <div class="form-group">
  
  
          <div class="errors">
            <mat-form-field class="ancho" appearance="fill">
              <mat-label>Usuario</mat-label>
              <input matInput formControlName="usuario" class="form-control" required>
              <mat-error
                *ngIf="editForm.get('usuario').invalid && (editForm.get('usuario').touched || editForm.get('usuario').dirty)">
                Ingrese el usuario</mat-error>
            </mat-form-field>
          </div>
  
        </div>
  
        <div class="form-group">
          <div class="errors">
            <mat-form-field class="ancho" appearance="fill">
              <mat-label>Clave</mat-label>
              <input matInput type="password" formControlName="clave" class="form-control" required>
              <mat-error
                *ngIf="editForm.get('clave').invalid && (editForm.get('clave').touched || editForm.get('clave').dirty)">
                Ingrese clave, una mayúscula, minuscula y un número es requerido</mat-error>
            </mat-form-field>
          </div>
        </div>
        <div class="form-group">
          <div class="errors">
            <mat-form-field class="ancho" appearance="fill">
              <mat-label>Rol</mat-label>
              <input matInput formControlName="rol" class="form-control" required>
              <mat-error
                *ngIf="editForm.get('rol').invalid && (editForm.get('rol').touched || editForm.get('rol').dirty)">
                Ingrese un rol</mat-error>
            </mat-form-field>
          </div>
        </div>
        <div class="form-group">
          <div class="errors">
            <mat-form-field class="ancho" appearance="fill">
              <mat-label>Fecha de nacimiento</mat-label>
              <input matInput formControlName="fechaNacimiento" class="form-control" required [matDatepicker]="picker">
              <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
              <mat-datepicker #picker></mat-datepicker>
              <mat-error
              *ngIf="editForm.get('fechaNacimiento').invalid && (editForm.get('fechaNacimiento').touched || editForm.get('fechaNacimiento').dirty)">
              Ingrese su fecha de nacimiento</mat-error>
          
            </mat-form-field>
          </div>
        </div>
  
        <br />
        <button type="submit" mat-raised-button class="ancho button" color="primary" [disabled]="editForm.invalid">Guardar Usuario</button>
  
  
      </div>