<mat-toolbar color="primary">
    <span>Sistema de presupuestos</span>
    <span class="example-spacer"></span>
    <button mat-button routerLink='/sistemapresupuesto'>Presupuesto</button>
    <button mat-button routerLink='/sistemapresupuesto/usuarios'>Usuarios</button>
    <button mat-button routerLink='/sistemapresupuesto/reportes'>Reportes</button>
    <button mat-button routerLink='/sistemapresupuesto/dashboard'>Dashboard</button>
    <span class="example-spacer"></span>
    <button  routerLink='/logout' mat-icon-button>
        <mat-icon>logout</mat-icon>
    </button>
</mat-toolbar>