<div>
  <mat-toolbar>
    <span>Gestion de presupuesto</span>
    <span class="example-spacer"></span>
    <button mat-button routerLink='/sistemapresupuesto/conceptos'>Conceptos</button>
    <button mat-button routerLink='/sistemapresupuesto/categorias'>Categorías</button>
  </mat-toolbar>
  <hr>
  <div class="formulario">

    <form [formGroup]="presupuestoForm" (ngSubmit)="guardar()">
      <mat-label class="tam texto">Agregar presupuesto</mat-label>
      <br>
      <br>
      <mat-form-field appearance="fill" class="tam">
        <mat-label>Concepto</mat-label>
        <mat-select formControlName="id_concepto" required>
          <mat-option *ngFor="let con of conceptos" [value]="con.id">
            {{con.concepto}}
          </mat-option>
        </mat-select>
        <mat-error
          *ngIf="presupuestoForm.get('id_concepto').invalid && (presupuestoForm.get('id_concepto').touched || presupuestoForm.get('id_concepto').dirty)">
          Seleccione el concepto.</mat-error>
      </mat-form-field>
      <mat-form-field class="tam" appearance="fill">
        <mat-label>Año</mat-label>
        <input matInput formControlName="anio" type="number" maxlength="4" minlength="4" min="1900" max="2030"
          pattern="^[0-9]+" placeholder="Ex. 2021" required autocomplete="off">
        <mat-error
          *ngIf="presupuestoForm.get('anio').invalid && (presupuestoForm.get('anio').touched || presupuestoForm.get('anio').dirty)">
          Ingrese el año al que corresponde el presupuesto.</mat-error>
      </mat-form-field>
      <mat-form-field appearance="fill" class="tam">
        <mat-label>Presupuesto Anual</mat-label>
        <input matInput formControlName="ppto_asignado" type="number" min="0" autocomplete="off" required>
        <span matPrefix>$&nbsp;</span>
        <mat-error
          *ngIf="presupuestoForm.get('ppto_asignado').invalid && (presupuestoForm.get('ppto_asignado').touched || presupuestoForm.get('ppto_asignado').dirty)">
          Ingrese el valor del presupuesto mensual.</mat-error>
      </mat-form-field>
      <br>
      <br>
      <button mat-stroked-button color="primary" class="btn" [disabled]="presupuestoForm.invalid">Crear
        Presupuesto</button>
      <button mat-stroked-button color="primary" class="btn" routerLink='/sistemapresupuesto/reportes'>Ver
        plantilla</button>
    </form>

  </div>

  <hr>
  <table mat-table [dataSource]="presupuestosVis" class="mat-elevation-z8 demo-table">
    <ng-container matColumnDef="categoria">
      <th mat-header-cell *matHeaderCellDef> CATEGORÍA </th>
      <td mat-cell *matCellDef="let element"> {{element.categoria}} </td>
    </ng-container>

    <ng-container matColumnDef="concepto">
      <th mat-header-cell *matHeaderCellDef> CONCEPTO </th>
      <td mat-cell *matCellDef="let element"> {{element.concepto}} </td>
    </ng-container>

    <ng-container matColumnDef="anio">
      <th mat-header-cell *matHeaderCellDef> AÑO </th>

      <td mat-cell *matCellDef="let element"> {{element.anio}} </td>
    </ng-container>

    <ng-container matColumnDef="ppto_asignado">
      <th mat-header-cell *matHeaderCellDef> PRESUPUESTO ASIGNADO </th>
      <td mat-cell *matCellDef="let element">{{element.ppto_asignado | currency:'':true:'1.0-0'}} </td>
    </ng-container>
    <ng-container matColumnDef="porce_ppto_alcanzado">
      <th mat-header-cell *matHeaderCellDef> % PRESUPUESTO ALCANZADO </th>
      <td mat-cell *matCellDef="let element"> {{element.porce_ppto_alcanzado | number: '1.1-2' }}%</td>
    </ng-container>
    <ng-container matColumnDef="ppto_alcanzado">
      <th mat-header-cell *matHeaderCellDef> PRESUPUESTO ALCANZADO </th>
      <td mat-cell *matCellDef="let element"> {{element.ppto_alcanzado | currency:'':true:'1.0-0'}} </td>
    </ng-container>
    <ng-container matColumnDef="ppto_restante">
      <th mat-header-cell *matHeaderCellDef> PRESUPUESTO RESTANTE </th>
      <td mat-cell *matCellDef="let element"> {{element.ppto_restante | currency:'':true:'1.0-0'}} </td>
    </ng-container>
    <ng-container matColumnDef="acciones">
      <th mat-header-cell *matHeaderCellDef></th>
      <td mat-cell *matCellDef="let element" style="text-align: right;">
        <a class="pointer" (click)="eliminar(element)" style="color:#e15639" matTooltip="Eliminar presupuesto">
          <mat-icon>delete</mat-icon>
        </a>
        <a class="pointer" (click)="agregar(element)" style="color:darkgreen"  matTooltip="Agregar presupuesto alcanzado">
          <mat-icon>add</mat-icon>
        </a>
      </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
</div>