<div class="Formulario">
    <h2>Registro Usuarios</h2>
  
    <form [formGroup]="usuarioForm" (ngSubmit)="guardar()">
      <div class="form-group">
        <div class="errors">
          <mat-form-field class="ancho" appearance="fill">
            <mat-label>Nombre</mat-label>
            <input matInput formControlName="nombre" class="form-control" required>
            <mat-error
              *ngIf="usuarioForm.get('nombre').invalid && (usuarioForm.get('nombre').touched || usuarioForm.get('nombre').dirty)">
              Ingrese el nombre</mat-error>
          </mat-form-field>
        </div>
      </div>
  
      <div class="form-group">
        <div class="errors">
          <mat-form-field class="ancho"  appearance="fill">
            <mat-label>Apellido</mat-label>
            <input matInput formControlName="apellido" class="form-control" required>
            <mat-error
              *ngIf="usuarioForm.get('apellido').invalid && (usuarioForm.get('apellido').touched || usuarioForm.get('apellido').dirty)">
              Ingrese el apellido</mat-error>
          </mat-form-field>
        </div>
        <div class="form-group">
          <div class="errors">
            <mat-form-field class="ancho"  appearance="fill">
              <mat-label>Cedula</mat-label>
              <input matInput formControlName="id" class="form-control" required>
              <mat-error
                *ngIf="usuarioForm.get('id').invalid && (usuarioForm.get('id').touched || usuarioForm.get('id').dirty)">
                Ingrese su cedula</mat-error>
            </mat-form-field>
          </div>
        </div>
  
        <div class="form-group">
  
  
          <div class="errors">
            <mat-form-field class="ancho"  appearance="fill">
              <mat-label>Usuario</mat-label>
              <input matInput formControlName="usuario" class="form-control" required>
              <mat-error
                *ngIf="usuarioForm.get('usuario').invalid && (usuarioForm.get('usuario').touched || usuarioForm.get('usuario').dirty)">
                Ingrese el usuario</mat-error>
            </mat-form-field>
          </div>
  
        </div>
  
        <div class="form-group">
          <div class="errors">
            <mat-form-field class="ancho"  appearance="fill">
              <mat-label>Clave</mat-label>
              <input matInput type="password" formControlName="clave" class="form-control" required>
              <mat-error
                *ngIf="usuarioForm.get('clave').invalid && (usuarioForm.get('clave').touched || usuarioForm.get('clave').dirty)">
                Ingrese clave, una mayúscula, minuscula y un número es requerido</mat-error>
            </mat-form-field>
          </div>
        </div>
        <div class="form-group">
          <div class="errors">
            <mat-form-field class="ancho"  appearance="fill">
              <mat-label>Rol</mat-label>
              <mat-select  formControlName="rol" >
                <mat-option *ngFor="let rol of roles" [value]="rol">
                  {{rol}}
                </mat-option>
              </mat-select>              
              <mat-error
                *ngIf="usuarioForm.get('rol').invalid && (usuarioForm.get('rol').touched || usuarioForm.get('rol').dirty)">
                Ingrese un rol</mat-error>
            </mat-form-field>

           
          </div>
        </div>

        <div class="form-group">
          <div class="errors">
            <mat-form-field class="ancho" appearance="fill">
              <mat-label>Fecha de nacimiento</mat-label>
              <input matInput formControlName="fechaNacimiento" class="form-control" required [matDatepicker]="picker">
              <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
              <mat-datepicker #picker></mat-datepicker>
              <mat-error
              *ngIf="usuarioForm.get('fechaNacimiento').invalid && (usuarioForm.get('fechaNacimiento').touched || usuarioForm.get('fechaNacimiento').dirty)">
              Ingrese su fecha de nacimiento</mat-error>
  
            </mat-form-field>
          </div>
        </div>
    
        <br />
        <button type="submit" mat-raised-button class="ancho button" color="primary" [disabled]="usuarioForm.invalid">Guardar Usuario</button>
  
  
      </div>