.example-spacer {
    flex: 1 1 auto;
  }
  table {
    width: 98%;
  }
  .formulario{
    width: 100%;
    margin-top: 2%;
    margin-bottom: 2%;
    margin-left: 1%;
    margin-right: 1%;
    height: 100%;
    vertical-align: center;
  }
  .tam{
    width: 31%;
    height: 50px;
    margin-left: 0.5%;
    margin-right:  0.5%;
  }
  .btn{
    height:  50px;
    width: 31%;
    align-items:center;
    margin-right:2%;
  }
  .texto{
    color:grey;
    font-size:20px;
  }
  .preAlca{
    width: 100%;
    height:100%;
    margin: 0 auto;
  }
  .mat-column-valor{
    text-align: right;
  }