<head>
    <meta charset="utf-8">
    <title>Formulario Login</title>
    <link rel="stylesheet" href="login.component.css">
  </head>
  <body>
    <h5>Formulario Login</h5>
    <form [formGroup]="loginForm" (ngSubmit)="iniciarSesion()">
      <input class="form-control" type="text" formControlName="usuario" value="" placeholder="Usuario">
      <input class="form-control" type="password" formControlName="contrasena" value="" placeholder="Contraseña">
      <input class="buttons" type="submit" name="" value="Ingresar">
    </form>
  </body>
  <router-outlet></router-outlet>