<div>
  <mat-toolbar>
    <span>DASHBOARD</span>
  </mat-toolbar>
  <hr>
  <div class="grid-container">
    <div class="grid-item">
      <app-grafico1></app-grafico1>
    </div>
    <div class="grid-item">
      <app-grafico2></app-grafico2>
    </div>
    <div class="grid-item">
      <app-grafico3></app-grafico3>
    </div>
    <div class="grid-item">
      <app-grafico4></app-grafico4>
    </div>
    <div class="grid-item">
      <app-grafico5></app-grafico5>
    </div>
    <div class="grid-item">
      <app-grafico6></app-grafico6>
    </div>
  </div>
</div>